<!DOCTYPE html>
<html>
  <head>
    <title>Repeal the Cabaret Law</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-I will8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/">
      <div id="text-header">
        <h1 class="bold">LET NYC DANCE</h1>
        <h1 class="bold pink">LET NYC DANCE</h1>
        <h1 class="bold yellow">LET NYC DANCE</h1>
      </div>
    </a>
    <div id="main">
      {{{body}}}
    </div>
  
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script src="/client.js"></script>

  </body>
</html>