<!DOCTYPE html>
<html>
  <head>
    <title>Let NYC Dance!</title>
    <meta name="description" content="Let NYC Dance: Call your City Council Member Now!">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-I will8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a id="header-link" href="/">
      <div id="text-header">
        <h1 class="bold">LET NYC DANCE</h1>
        <h1 class="bold pink">LET NYC DANCE</h1>
        <h1 class="bold yellow">LET NYC DANCE</h1>
      </div>
    </a>
    <div id="main">
      {{{body}}}
      <footer>
        <a href="http://nycartc.com" target="_blank"><h4>NYC Artist Coalition</h4>
        <img id="logo" src="https://cdn.glitch.com/5ec8d098-a5dd-4a0b-8426-e73c7d575d20%2Flogo-square.png?1499311061933">
        <h4>nycartc.com</h4></a>
        <div id="social-media">
        <a id="fb" href="https://www.facebook.com/nycartc" target="_blank"><img src="https://cdn.glitch.com/5ec8d098-a5dd-4a0b-8426-e73c7d575d20%2Ficonmonstr-facebook-1.svg?1499312159789"></a>
        <a id="ig" href="https://www.instagram.com/nycartc/" target="_blank"><img src="https://cdn.glitch.com/5ec8d098-a5dd-4a0b-8426-e73c7d575d20%2Ficonmonstr-instagram-11.svg?1499312159778"></a>
        <a id="tw" href="https://twitter.com/nycartc" target="_blank"><img src="https://cdn.glitch.com/5ec8d098-a5dd-4a0b-8426-e73c7d575d20%2Ficonmonstr-twitter-1.svg?1499312159533"></a>
        
        </div>
      </footer>
    </div>
    <div id="maps">
    </div>
  
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script src="/client.js"></script>

  </body>
</html>